---
import IconRobotConfused from "#src/icons/robot/confused.svg";
import MainLayout from "#src/layouts/Main.astro";
---

<script>
  import { HREF_PROFILE } from "astro:env/client";
  import isProfileNameIdValid from "#src/lib/profile";

  const pathname = window.location.pathname.substring(1).toLowerCase();

  if (isProfileNameIdValid(pathname)) {
    window.location.replace(new URL(pathname, HREF_PROFILE));
  }
</script>

<MainLayout title="Not Found">
  <Fragment slot="head">
    <meta name="robots" content="noindex" />
  </Fragment>

  <figure class="figure-not-found">
    <IconRobotConfused />
    <figcaption>
      <h1>404</h1>
      <p>Not found</p>
    </figcaption>
  </figure>

  <p class="quote">
    <q>Looks like this page took a wrong turn... Maybe it&#39;s lost in the internet void, or just grabbing a coffee.</q>
  </p>
</MainLayout>

<style lang="scss">
  .figure-not-found {
    $gap: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    > svg {
      filter: drop-shadow(0 0 3px);
      margin-inline-end: $gap;
      max-width: 4em;
      color: var(--color-highlight);
    }
    > figcaption {
      border-inline-start: thin solid var(--color-border);
      padding-inline-start: $gap;
      > h1 {
        margin: 0;
        font-variant-numeric: tabular-nums;
        font-feature-settings: "tnum";
      }
      > p {
        margin: 0;
      }
    }
  }

  .quote {
    padding-inline: 1em;
    color: var(--color-3);
    font-style: italic;
    text-align: center;
  }

  @media (width <= 42em) {
    .figure-not-found {
      flex-direction: column;
      gap: 0.25em;
      font-size: 2.5em;
      > svg {
        margin: 0;
      }
      > figcaption {
        border: 0;
        padding: 0;
      }
    }
  }
</style>
