---
import { HREF_APP } from "astro:env/client";
import { Icon } from "astro-icon/components";
import { PLATFORM_DESCRIPTION } from "astro:env/client";
import LinkNext from "#src/components/LinkNext.astro";
import MainLayout from "#src/layouts/Main.astro";
---

<MainLayout description={PLATFORM_DESCRIPTION}>
  <div class="home">
    <div class="content">
      <h1 class="home-title">{PLATFORM_DESCRIPTION}</h1>
      <h2 class="home-description">Create micro-pages and profiles easily and instantly</h2>
      <LinkNext class="link-get-started" href={HREF_APP}><Icon name="rocket" size="1.25em" />Get started now</LinkNext>
    </div>
    <img alt="Micropage example" class="profile-img" draggable="false" src="/profile.webp" title="Micropage example" />
  </div>
  <div class="grid-features">
    <div class="feature-card">
      <h2><Icon class="feature-icon" name="content" size="1.375em" />Unified Presence</h2>
      <p>
        <strong>profile.rocks</strong> creates elegant micropages. It simplifies how content is shared across social media and the web.
      </p>
    </div>
    <div class="feature-card">
      <h2><Icon class="feature-icon" name="security" size="1.375em" />Privacy First</h2>
      <p>
        <strong>profile.rocks</strong> prioritizes privacy. It does not track visitors or set advertising cookies. User data remains private
        and is never sold to third parties.
      </p>
    </div>
  </div>
</MainLayout>

<style lang="scss">
  .content {
    margin-inline: auto;
    max-width: 50em;
  }

  .feature-card {
    transition:
      transform 0.3s ease,
      border-color 0.3s ease;

    h2 {
      display: flex;
      align-items: center;
      gap: 0.375em;
      margin-block: 0 0.5em;
      font-weight: 600;
      font-size: 1.75em;
    }

    p {
      margin: 0;
      color: var(--color-3);
      font-size: 1.1em;
      line-height: 1.6;
    }
  }

  .feature-icon {
    color: var(--color-highlight);

  }

  .grid-features {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    max-width: 74em;
    margin-inline: auto;
    margin-block: 5em 1em;
    > .feature-card:not(:first-child) {
      padding-block-start: 2.25em;
      border-block-start: thin solid var(--color-border);
    }
  }

  .link-get-started {
    margin-block-start: 2.75em;
    font-size: 1.25em;
    margin-inline: auto;
  }

  .home {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100em;
    margin-inline: auto;
  }

  .home-description {
    color: var(--color-2);
    font-size: clamp(1.375em, 3vw, 1.5em);
    text-align: center;
  }

  .home-title {
    background: linear-gradient(45deg, var(--color-highlight), var(--color-premium));
    background-clip: text;
    color: transparent;
    font-size: clamp(2.25em, 5vw, 3.125em);
  }

  .profile-img {
    display: block;
    transition-duration: 0.3s;
    transition-property: border-color, box-shadow, translate;
    margin-inline: auto;
    margin-block-start: 3em;
    border: 2px solid var(--color-border);
    border-radius: 1em;
    max-width: 90%;
    max-height: 46em;
    object-fit: cover;
    user-select: none;
    &:hover {
      translate: 0 -1em;
      box-shadow: 0 0.25em 2em var(--color-highlight);
      border-color: var(--color-highlight);
    }
  }

  @media (width > 70em) {
    .home {
      flex-direction: row;
      gap: 5em;
      margin-block-start: 1em;
      // max-height: 50em;
    }

    .content {
      margin-block-end: 10em;
    }

    .grid-features {
      flex-direction: row;
      > .feature-card:not(:first-child) {
        padding-block-start: 0;
        padding-inline-start: 2.5em;
        border-block-start: none;
        border-inline-start: thin solid var(--color-border);
      }
    }

    .link-get-started {
      text-align: center;
      max-width: 20em;
    }

    .profile-img {
      height: 75vh;
      min-height: 35em;
      max-height: 40em;
    }
  }
</style>
