---
import { PLATFORM_DESCRIPTION, PLATFORM_NAME } from "astro:env/client";
import ArticleLayout from "#src/layouts/Article.astro";
---

<ArticleLayout title="About">
  <hgroup class="page-title-group">
    <h1 class="page-title">About {PLATFORM_NAME}</h1>
    <p class="page-description">{PLATFORM_DESCRIPTION}</p>
  </hgroup>

  <p>
    Initially created by <a href="https://ssbit01.github.io/" target="_blank" rel="noopener noreferrer">Stefan Samson</a>, <strong>profile.rocks</strong> was born out of a simple need: the ability to build and deploy a fully functional web page directly from a mobile phone, without being tied to a computer.
  </p>

  <p>While existing micropage services typically restrict users to basic links and plain text, <strong>profile.rocks</strong> was designed to support rich Markdown formatting, offering greater flexibility and control over content.</p>

  <p>Furthermore, unlike the majority of closed-source alternatives on the market, <strong>profile.rocks</strong> aims to be open source. Future developments will focus on expanding developer tools to support self-hosting, ensuring long-term independence and customization for its users.</p>
</ArticleLayout>

<style lang="scss">
  .page-title-group {
    background: linear-gradient(135deg, var(--color) 0%, var(--color-highlight) 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent; // It works in Firefox too.
    margin-block-end: 2rem;
  }

  .page-title {
    font-weight: 800;
    margin-block-end: 0;
  }

  .page-description {
    margin-block-start: 0;
    font-size: clamp(1em, 4.5vw, 1.25em);
    text-align: center;
  }
</style>
